{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>{% block title %}{% endblock %} | EduRate</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>
	{% if request.resolver_match.url_name not in excluded_urls %}
	<header class='flex top-0 left-0 right-0 fixed justify-between shadow-sm bg-white border-gray-200 font-sans min-h-[50px] border-b-[1px]'>
		<!--Header PFP and Intro-->
		<div class='flex items-center justify-between font-semiboldtext-lg'>
		<a href="{% url 'interface:dashboard' %}"><img src="{% static 'images/edurateLogo.png' %}" class="w-16"></a>
		<h1>Dashboard</h1>
		</div>
		<!--User Profile-->
		<div class="flex gap-x-2 items-center mr-8 text-lg">
		<img src="{% static 'images/bell.png' %}" alt="Notification bell" class="w-6">
		<img src="{% static 'images/line.png' %}" alt="Line" class="w-6">
		<img src="{% static 'images/down.png' %}" alt="Down arrow" class="w-6">
		denzelclyde
		<img src="{% static 'images/placeholderProfile.jpg' %}" class="w-16">
		</div>
	</header>
	{% endif %}
	
	{% block content %}
	{% endblock %}
</html>
