{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="emerald">

<head>
	<title>{% block title %}{% endblock %} | EduRate</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% tailwind_css %}
</head>

<body>

	{% block navbar %}
	{% include "interface/navbar.html" %}
	{% endblock navbar %}

	{% if messages %}
	{% for message in messages %}
	<div class="alert alert-error">
		<svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
				d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
		</svg>
		<span>{{ message }}</span>
	</div>
	{% endfor %}
	{% endif %}

	<main>
		{% block content %}
		{% endblock %}
	</main>



</body>

</html>